# Análise Exploratória de Dados - Diamantes
**Projeto de Extensão:** Introdução à Ciência de Dados (ICD 2026)

**Autores:**
   - Gustavo Kim Alcantara (RA: 820763)
   - Enzo Dezem Alves (RA:801743)

---
## 1. Introdução e Definição do Dataset
Este projeto visa realizar uma análise exploratória sobre o dataset "Diamonds", contendo atributos de preço e qualidade de quase 54.000 diamantes.
**Link da base:** https://www.kaggle.com/datasets/zahranusrat/diamonds-characteristics-and-pricing-analysis

In [1]:
# Importação das bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configurações visuais
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)

# Carregamento dos dados
try:
    df = pd.read_csv('data/diamonds.csv')
    print("Dataset carregado com sucesso!")
except FileNotFoundError:
    print("Erro: Arquivo 'diamonds.csv' não encontrado na pasta 'data'.")

# Exibição das primeiras linhas e informações gerais
display(df.head())
print("\n--- Informações dos Atributos ---")
df.info()

Dataset carregado com sucesso!

   carat      cut color clarity  depth  table     x     y     z  price
0   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43    326
1   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31    326
2   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31    327
3   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63    334
4   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75    335

--- Informações dos Atributos ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   x        53940 non-null  float64
 7   y        53940 non-null  float64
 8   z        53940 non-null  float64
 9   price    53940 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [2]:
# Estatísticas descritivas iniciais
display(df.describe())

# Verificação de duplicatas
duplicatas = df.duplicated().sum()
print(f"\nQuantidade de linhas duplicadas: {duplicatas}")

# Verificação de valores nulos
nulos = df.isnull().sum()
print(f"\nQuantidade de valores nulos por coluna:\n{nulos}")

,carat,depth,table,x,y,z,price
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,5.731157,5.734526,3.538734,3932.799722
std,0.474011,1.432621,2.234491,1.121761,1.142135,0.705699,3989.439738
min,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000,950.000000
50%,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000,2401.000000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000,5324.250000
max,5.010000,79.000000,95.000000,10.740000,58.900000,31.800000,18823.000000

Quantidade de linhas duplicadas: 146

Quantidade de valores nulos por coluna:
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64